/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor */
.container {
    background: #ffffff;
    padding: 40px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Título */
h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #0f172a;
}

/* Labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}

/* Botón */
button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
}

/* Resultado */
.resultado {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #0f172a;
    margin-bottom: 20px;
}

/* Link */
a {
    display: block;
    text-align: center;
    padding: 10px;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

a:hover {
    background: #1d4ed8;
}